.aboutPlugin {
  .header {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 15px;
  }

  .context {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140.9%;
    /* or 157% */

    text-align: center;

    /* Character / Secondary .45 */

    color: rgba(0, 0, 0, 0.45);

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
}
