.subscribe {
  width: 100%;
  margin-top: 50px;
  .header {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.85);
  }
  .context {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140.9%;

    text-align: center;

    color: rgba(0, 0, 0, 0.45);
  }

  .qr {
    display: flex;
    justify-content: center;
  }

  .subsribe-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .subscribe-button {
    font-size: 24px;
    width: 200px;
    height: 40px;
  }

  .label {
    text-align: left;
  }
}
