#functionsInfo {
  margin-top: 50px;
  .header {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 20px;
  }

  .functionsList {
    display: flex;
    justify-content: space-between;

    // flex-wrap: wrap;

    width: 1136px;
    height: 97px;
    margin: 0 auto;
  }

  .functionsButton {
    width: fill;
    height: fill;
    margin: 10px;
    font-size: 20px;
  }
}
