.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  height: 80px;
  background-color: #585858;
  color: #f2f2f2;
}

.plugverb {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  padding-left: 20px;
}

.authors {
  /* font-size: 14px; */
  line-height: 22px;
  padding-right: 20px;
}
